<div class="container">
  <div class="row justify-content-center">

    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

      <div class="form-group" [ngClass]="{  'was-validated': formsError.name }">
        <label for="name">Name</label>
        <input id="name" class="form-control" formControlName="name" (blur)="logValidationErrors()" />
        <span *ngIf="formsError.name" class="alert alert-danger">
          {{ formsError.name }}</span>
      </div>

      <div class="form-group">
        <label for="contactPreference">Contact Preference</label>
        <div class="col-md-6">
          <label class="radio-inline">
            <input type="radio" formControlName="contactPreference" value="email" />
            Email
          </label>
          <label class="radio-inline">
            <input type="radio" formControlName="contactPreference" value="phone" />
            Phone
          </label>
        </div>
      </div>

      <div formGroupName="emailGroup">

        <div class="form-group" [ngClass]="{ 'was-validated': formsError.email  }">
          <label for="exampleInputEmail">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email"
            formControlName="email" (blur)="logValidationErrors()" />
          <span *ngIf="formsError.email" class="alert alert-danger">
            {{ formsError.email }}</span>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group" [ngClass]="{ 'was-validated': formsError.confirmEmail || formsError.emailGroup  }">
          <label for="confirmEmail">Confirm Email</label>
          <input type="email" class="form-control" id="confirmEmail" placeholder="Confirm email"
            formControlName="confirmEmail" (blur)="logValidationErrors()" />
          <span *ngIf="formsError.confirmEmail || formsError.emailGroup" class="alert alert-danger">
            {{ formsError.confirmEmail ? formsError.confirmEmail  :  formsError.emailGroup}}

          </span>
        </div>

      </div>
      <div class="form-group" [ngClass]="{  'was-validated': formsError.phone }">
        <label for="phone">Phone</label>
        <input id="phone" class="form-control" formControlName="phone" (blur)="logValidationErrors()" />
        <span *ngIf="formsError.phone" class="alert alert-danger">
          {{ formsError.phone }}
        </span>
      </div>

      <div class="skill-container">

        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="(addSkillButtonClick())"
            [disabled]="employeeForm.controls.skills.invalid">Add Skill</button>
        </div>
        <hr />
        <div formArrayName="skills" class="skill-container"
          *ngFor="let skill of employeeForm.get('skills')['controls']; let i = index">
          <div [formGroupName]="i">
            <div class="form-group" [ngClass]="{ 'was-validated': skill.get('skillName').invalid && 
                                                                  skill.get('skillName').touched }">
              <label [attr.for]="'skillName' + i">Skill</label>
              <input type="text" class="form-control" id="skillName" placeholder="Enter skill"
                formControlName="skillName" [id]="'skillName' + i" />
              <span *ngIf="skill.controls.skillName.errors?.required &&  
                           skill.controls.skillName.touched" class="alert alert-danger">
                Skill Name is required.
              </span>
            </div>

            <div class="form-group" [ngClass]="{ 'was-validated': skill.controls.experienceInYears.invalid && 
                                                                  skill.controls.experienceInYears.touched  }">
              <label [attr.for]="'experienceInYears'+i">Experience In Years</label>
              <input type="text" class="form-control" [id]="'experienceInYears'+i" placeholder="Experience in years"
                formControlName="experienceInYears" />
              <span *ngIf="skill.controls.experienceInYears.errors?.required && 
                           skill.controls.experienceInYears.touched" class="alert alert-danger">
                Experience in years is required.
              </span>
            </div>

            <div class="form-group" [ngClass]="{ 'was-validated': skill.controls.proficiency.invalid && 
                                                                  skill.controls.proficiency.touched }">
              <label [attr.for]="'proficiency'+i">Proficiency</label>
              <div class="col-md-8">
                <label class="radio-inline">
                  <input type="radio" formControlName="proficiency" [id]="'proficiency'+i" autocomplete="off"
                    value="beginner" />
                  Beginner
                </label>
                <label class="radio-inline">
                  <input type="radio" formControlName="proficiency" [id]="'proficiency'+i" autocomplete="off"
                    value="advanced" />
                  Advanced
                </label>
                <label class="radio-inline">
                  <input type="radio" formControlName="proficiency" [id]="'proficiency'+i" autocomplete="off"
                    value="expert" />
                  Expert
                </label>
              </div>
              <span *ngIf="skill.controls.proficiency.errors?.required && 
                           skill.controls.proficiency.touched" class="alert alert-danger">
                Proficiency in years is required.
              </span>
            </div>
          </div>
        </div>

      </div>
      <div class="btn-toolbar">
        <button type="submit" class="btn btn-primary">Save</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="onLoadDataClick()">
          Load Data
        </button>
      </div>

    </form>
  </div>
</div>
